:root{/*Variables Customize properties*/
    --primario: #FFC107;
    --secundario: #0097a7;
    --oscuro: #212121;/*Color*/

    --anchoPantalla: 120rem;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Krub', sans-serif;/*Fuente del documento*/
    min-height: 100%;
    /*Degradado https://webgradients.com/ los mejores degradados*/
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-size: 1.6rem;
}
h1,h2,h3{
    margin: 0;
}
h2,h3{
    text-align: center;
}
h3{
    color: var(--secundario);
    font-weight: 400;
    font-size: 2.2rem;
}
img{
    max-width: 100%;
}
.site-header nav{
    max-width: var(--anchoPantalla);
    margin: 0 auto;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;/*Para poner los elementos de la navegacion en columna*/
    align-items: center;
}

@media (min-width: 768px) {
    .site-header nav{
        flex-direction: row;/*Poner los elementos a lado del otro*/
        justify-content: space-between;
        
    }
}

.site-header nav a:last-of-type{
    margin: 0;/*Elimianr el margin del ultimo nav de site-header*/
}
.site-header nav a{
    color: var(--oscuro);
    font-size: 2.2rem;
    text-decoration: none;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .site-header nav a{
        margin: 0;/*En este caso como se aplica el margin de 2rem para resposive se cambiar para el sitio web*/
    }
}

/*Hero*/
.hero{
    height: 45rem;
    background-image: url(../img/hero.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero::after{
    content: '';
    background-color: rgba(0, 0, 0, .9);/*Trasparencia para darle efectos visual*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}
.contenedor-hero{
    color: white;
    position: relative;
    z-index: 1;/*Posicionar el texto encima de todos los efectos de esta imagen*/
    text-align: center;/*Alineando sin flexbox*/
}

.contenedor-hero i{
    font-size: 5rem;
    color: var(--primario);
    padding: 0 1rem 0 0;
}
.boton{
    background-color: var(--secundario);
    padding: 1rem 5rem;/*Tamaño de boton del color azul*/
    display: inline-block;/*Habilitar para poder separar la etiqueta p con el boton*/
    margin-top: 1rem;/*El tamaño al cual va a ser separado*/
    text-decoration: none;
    color: #ffffff;/*La palabra que hay dentro del boton*/
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2rem;
    border-radius: .5rem;
}
/*Main*/
.contenedor{
    max-width: var(--anchoPantalla);
    margin: 0 auto;
    background-color: white;
    border-radius: 1rem;
    /*Se logra con https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.74);
    box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.74);
}
.servicios{
    margin: 3rem auto;
}
.contenedor-service{
    
}

@media (min-width: 768px) {
    .contenedor-service{
        display: flex;
    }
}
